@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    background-color: rgb(7, 7, 7);
    color:rgb(255, 255, 255);
    font-family:Orbitron;
    text-align: center;
}

